.leaves-dashboard{
    position: relative;
    width: 100%;
    height: 60px;
    background-color:#F9FAFB;
    /* background-color: aqua; */
}

.leaves-corner{
    position: absolute;
    right: 0;
    top: -30px;
    opacity: 0.5;
}


input.search-input.w-50 {
    height: 35px;
    position:static;
}
/* .search{
    position: absolute;
    padding: 15px;
    height: 59px;
}

input.search-input {
  
    height: 45px;
  
    margin-top: -7px;
   
    border: none;
    background-color: #F0F2F5;
    border-radius: 5px;
} */

.breadcrumbs{
    position: relative;
    /* background: aqua; */
    top: 5rem;
    font-size: 14px;
    font-weight: 600;
}

.leaves-blue{
    color:#21376D;
}

.total-leave{
    position: absolute;
    right: 5rem;
}

.leaves-line{
    height: 50px;
    background:#F9FAFB;
    position: relative;
    top: 5rem;
    /* padding: 10px; */
    border-left: 5px solid #21376D;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
}


.leave-corner-image{
    position: absolute;
    top: 0px;
    right: 0;
}

.paragraph{
    position: relative;
    height:35rem;
    /* background-color: aqua; */
    background-color: white;
    /* border: 1px solid black; */
    top:-45px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.modal-btn1{
    position: absolute;
    margin-top: 15px;
} 

.modal-btn1 button{
    width: 82.14px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #21376D;
    color: white;
}

.modal-btn1 button:hover{
    background-color: #6d6e71;
    color: white;
} 

.input{
    position: absolute;
    top: 14px;
    left: 7rem;
}

.input-search{
    height: 35px;
}

.footer-section-leaves{
    position: relative;
    /* height: 60; */
    /* background: aqua; */
    top: 55rem;
    font-size:14px;
    color: #70706B;
}

.footer-leave-image{
    position:absolute;
    right: 0;
    opacity: 0.7;
}

.footer-bottom-img-leave{
    position:relative;
    top: 50rem;
    right: 0;
}


.table-inside{
    position: relative;
    top:5rem;
}


.custom td{
    border-top: 3px solid #F1F5F9;
    font-size: 14px;
    color: #70706B;
    font-weight: 400;
}

.header-table{
    font-size: 14px;
    font-weight:400;
    font-family: 'Roboto1', 'mypteclass', sans-serif;
}

.custom2{
    font-size: 14px;
    color: #70706B;
    font-weight: 400;
}

.custom3{
    font-size: 14px;
    color: #70706B;
    font-weight: 400;
}

.border-0{
    color:#21376D ;
    background:none;
}


.table-pagination{
    font-size: 14px;
    color: #70706B;
    font-weight:100;
    position: absolute;
    top: 21rem;
}

.area-pagination{
    position: relative;
    top: 9.5rem;
    display: flex;
    justify-content: end;
}

input.search-input {
    width: 18rem;
    height: 35px;
    background-color: #EAECEF;
    border: none;
    border-radius: 5px;
    padding: 5px;
}


.leaves2{
    padding:12px;
}