.change-password-section{
    position: relative;
    height: 60px;
    width: 100%;
    /* background-color: aqua; */
    background-color: #F9FAFB;
}

.password-corner-img{
    color: transparent;
    position: absolute;
    top: -29px;
    right: 0;
    opacity: 0.5;
}


.breadcrumbs{
    position: relative;
    /* background: aqua; */
    top: 5rem;
    font-size: 14px;
    font-weight: 600;
}

.password-blue{
    color:#21376D;
}




.grid{
    height: 50px;
    position: relative;
    /* background: aqua; */
    /* background-color: #F9FAFB; */
    top: 5rem;
    border-left: 5px solid#22376D;
    padding: 12px;
    margin-left: 10px;
    margin-right: 10px;
}


/* 
.row{
    padding: 15px;
} */

.image{
    position: relative;
    top: -39px;
}

.sm-image{
    position: absolute;
    right: 0;
}

form{
    margin-left: -19px;
    margin-right: -1px;
    position: relative;
    top: 10px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.btn-update button{
    width: 104.86px;
    height: 35px;
    border: none;
    background-color: #22376D;
    border-radius: 5px;
    color: white;
}

.btn-update button:hover{
    background-color:#70706B;
    color: white;
}

.paragraph{
    position: absolute;
    top: 55rem;
    font-size: 14px;
    color: #70706B;
}

.bottom-pass-image{
    position: relative;
    top: 45rem;
}

.bottom-img-pass-corner{
    position: absolute;
    right: 0;
    opacity: 0.7;
}