.holiday-section {
  position: relative;
  height: 60px;
  width: 100%;
  background-color: #f9fafb;
  /* background-color: aquamarine; */
}

.corner-top-holiday-img {
  color: transparent;
  position: absolute;
  right: 0px;
  top: -29px;
  opacity: 0.5;
}

input.search-input.w-50 {
  height: 35px;
  position: static;
}

.breadcrumbs {
  position: relative;
  /* background: aqua; */
  top: 5rem;
  font-size: 14px;
  font-weight: 600;
}

.holidays-blue {
  color: #21376d;
}

.holiday-line {
  height: 50px;
  /* background-color: aqua; */
  background-color: #f9fafb;
  position: relative;
  top: 5rem;
  margin-left: 10px;
  margin-right: 10px;
  /* padding: 10px; */
  border-left: 5px solid #21376d;
  font-size: 16px;
  font-weight: 600;
  color: #70706b;
}

.holidays-corner-image {
  position: absolute;
  top: 0px;
  right: 0;
}

.serch-holidays.ms-0.mt-4 {
  height:40rem;
  /* background: aqua; */
  padding: 5px;
  background-color: #ffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}

input.search-holidays-input {
  height: 35px;
  border-radius: 4px;
  border: 1px solid black;
  margin-top: 5px;
}

.records {
  font-size: 14px;
}

td {
  font-size: 14px;
  font-weight: 400;
  color: #70706b;
}

.footer-holidays {
  height: 90px;
  /* background-color: aqua; */
  position: relative;
  top: 55rem;
  font-size: 14px;
  color: #70706b;
}

.footer-holiday-image {
  position: absolute;
  right: 0;
  opacity: 0.7;
}

img.footer-bottom-img-leave {
  position: fixed;
  top: 50rem;
  right: 0px;
  opacity: 0.7;
}

div#tabel-holiday {
  position: relative;
  top: -37rem;
}

.h-col{
    font-size: 14px;
    border-top: 5px solid #F1F5F9;
}


.col{
    font-size: 14px;
    font-weight:bold;
    color: #70706B;
}

input.search-input-holiday {
    width: 20rem;
    height: 35px;
    background: #EAECEF;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.holidays3 {
    padding: 12px;
}

.mt-4 {
    margin-top: 0.5rem !important;
}

.d-flex.justify-content-start {
    position: relative;
    top: 8rem;
}