.nav-side {
  /* padding: 17px; */
  background-color: #ffffff;
  height: 100%;
  width: 300px;
  /* border: 1px solid black; */
  position: fixed;
  z-index: 1;
  transition: width 0.3s ease; 
}

.nav-side.collapsed {
  width: 0px;
}

.nav-side__logo {
  margin-top: 25px;
  padding: 20px;
  transition: opacity 0.3s ease; 
}

.nav-category-divider{
  font-size: 12px;
  font-weight: 600;
}

.hidden {
  display: none; 
}

.arrow-left {
  margin-top: 2.5rem;
  cursor: pointer;
}

.toggle-bars {
  margin-top: 0.5rem;
  cursor: pointer;
  display: none; 
  position: absolute;
  left: 10px; 
  top: 20px; 
}

.nav-side.collapsed .toggle-bars {
  display: block; 
}

.sidebar {
  padding-top:40px;
  overflow-y: auto;
  position: fixed;
  z-index: 9;
  display: block;
  height: 100%;
  width: 300px;
  transition: opacity 0.3s ease; 
}

.sidebar::-webkit-scrollbar{
  display: none;
}

.nav-side.collapsed .sidebar {
  opacity: 0;
  visibility: hidden; 
}

.main-content {
  margin-left: 300px; 
  transition: margin-left 0.3s ease; 
}

.main-content.expanded {
  margin-left: 60px; 
}

#nav-links a{
  list-style: none;
  text-decoration: none;
  color:#555550;
  line-height: 3;
  font-size: 14px;
}

/* Accordation */


.card{
  position: relative;
  top: 30rem;
  height: 80px;
  width: 100%;
  border-radius:5px;
  background-color: #ffff;
  /* background-color: azure; */
  transition: opacity 0.3s ease, visibility 0.3s ease; 
}


.image-section {
  color: transparent;
  position: relative;
  top: 2px;
  right: -5px;
}

.profile-image {
  position: relative;
  top: -51px;
  right: -27px;
}

.ems {
  position: absolute;
  top: 10px;
  left: 5rem;
  font-size: 16px;
  font-weight: 700;
  color: #21376d;
}

.lower-name {
  position: absolute;
  top: 35px;
  left: 7rem;
  font-size: 15px;
  font-weight: 600;
}

.angle {
  position: absolute;
  top: 1.5rem;
  left: 16rem;
  cursor: pointer;
}


.card2 {
  position: absolute;
  top: -11.5rem;
  height: 182px;
  width: 100%;
  background: aqua;
  opacity: 1;
}

.card2 {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.card2.hidden {
  opacity: 0;
}


.angle .fa-angle-right {
  transition: transform 0.3s ease-in-out;
}

.angle .fa-angle-right.rotated {
  transform: rotate(-90deg);
}
